---
import Layout from "../layouts/Layout.astro";
import ButtonEdge from "../components/ButtonEdge.svelte";
import IconWeight from "../components/IconWeight.svelte";
import HoverClick from "../components/HoverClick.svelte";
---

<Layout title="UI Practice">
  <article>
    <h1>UI Practice</h1>
    <ButtonEdge client:visible />
    <IconWeight client:visible />
    <HoverClick client:visible />
  </article>
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-inline-size: 700px;
    margin: 2rem auto;
  }
</style>
