---
import Layout from "../layouts/Layout.astro";
import ButtonEdge from "../components/ButtonEdge.svelte";
import IconWeight from "../components/IconWeight.svelte";
import HoverClick from "../components/HoverClick.svelte";
import SpotlightGradient from "../components/SpotlightGradient.svelte";
import HoverCard from "../components/HoverCard.svelte";
import WiresGame from "../components/WiresGame.svelte";
---

<Layout title="UI Practice">
  <article>
    <header>
      <h1>UI Practice</h1>
      <p>
        An experiment from <a href="https://buttonschool.com">Button School</a>.
      </p>
    </header>
    <WiresGame client:visible />
    <HoverCard client:visible />
    <SpotlightGradient client:visible />
    <ButtonEdge client:visible />
    <IconWeight client:visible />
    <HoverClick client:visible />
  </article>
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
    padding: 0 2rem;
  }
</style>
